---
title: All LUGs
layout: default
---
  {% assign sortedPosts = site.posts | sort: 'title' %}
  {% assign postStatus = "Active" | split: "," %}
  {% for post in sortedPosts %}
  {% unless postStatus contains post.status %}
  {% assign postStatus = postStatus | push: post.status %}
  {% endunless %}
  {% endfor %}
  {% assign statusCount = postStatus.size %}
  <table width=100%>
    <thead>
      <tr>
        <th>Title</th>
        <th>Established</th>
        <th>
          {% if statusCount == 1 %}
            Status: {% for status in postStatus %}{{ status }}{% endfor %}
          {% else %}
            <label for="statusFilter">Status:</label>
            <select id="statusFilter">
              {% for status in postStatus %}
              <option value="{{ status }}"{% if status == "Active" %} selected="selected"{% endif %}>{{ status }}</option>
              {% endfor %}
              <option value="all">All</option>
            </select>
          {% endif %}
        </th>
        <th>Last updated</th>
        <th>Region</th>
      </tr>
    </thead>
    <tbody>
    {% for post in sortedPosts %}
      {% assign this_post_status = post.status | default: 'Active' %}
      {% if this_post_status == 'Active' %}
      {% assign style='' %}
      {% else %}
      {% assign style='display: none;' %}
      {% endif %}
      <tr style="{{ style }}{% cycle ' background-color: #f2f2f2','' %}" class="{{ this_post_status }}">
        <th><a href="{{ post.url }}">{{ post.title | escape }}</a></th>
        <td>{% if post.established_date and post.established_date != '' %}{{ post.established_date | date: "%Y/%m" }}{% endif %}</td>
        <td>{{ post.status | default: 'Active' }}</td>
        <td>{% if post.last_update and post.last_update != '' %}{{ post.last_update | date: "%Y/%m" }}{% endif %}</td>
        <td><a href="/lugs/{{ post.categories | default: 'Virtual' }}">{{ post.categories | default: 'Virtual' }}</a></td>
      </tr>
    {% else %}
      <tr><td colspan=6>No LUGS</td></tr>
    {% endfor %}
    </tbody>
  </table>

