---
layout: default
---
<h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
<p></p>
<p>
{% if page.website and page.website != '' %}
<strong>Website:</strong> <a href="{{ page.website }}">{{ page.website }}</a><br/>
{% endif %}
{% if page.established_date and page.established_date != '' %}
<strong>Established:</strong> {{ page.established_date | date: "%Y/%m" }}<br/>
{% endif %}
{% if page.last_update and page.last_update != '' %}
<strong>Entry last updated:</strong> {{ page.last_update | date: "%Y/%m" }}<br/>
{% endif %}
<strong>Status:</strong> {{ page.status | default: 'Active' }}<br/>
<strong>Region:</strong> {{ page.categories | default: 'Virtual' }}<br/>
{% if page.contact_address and page.contact_address != '' %}
<strong>Contact/LUGmaster:</strong> <a href="mailto:{{ page.contact_address }}">{{ page.contact | default: page.contact_address }}</a><br/>
{% endif %}
{% if page.mailing_list and page.mailing_list != '' %}
<strong>Mailing list:</strong> <a href="{{ page.mailing_list }}">List</a><br/>
{% endif %}
{% if page.social_media and page.social_media != '' %}
{% for social in page.social_media %}
<strong>{{ social.label | default: "Social Media" }}:</strong> <a href="{{ social.url | default: social }}">{{ social.handle | default: social.url | default: social }}</a><br/>
{% endfor %}
{% endif %}
{% if page.chat_room and page.chat_room != '' %}
{% for chat in page.chat_room %}
<strong>{{ chat.label | default: "Chat Room" }}:</strong> <a href="{{ chat.url | default: chat }}">{{ chat.handle | default: chat.url | default: chat }}</a><br/>
{% endfor %}
{% endif %}
</p>

{{ content }}
