---
layout: default
---

<div class="home">

  {{ content }}

  <h1 class="page-heading">Linux User Groups listings</h1>
  
  <table width=100%>
    <thead>
      <tr>
        <th>Title</th>
        <th>Website</th>
        <th>Established</th>
        <th>Status</th>
        <th>Entry last updated</th>
        <th>Region</th>
      </tr>
    </thead>
    <tbody>
    {% for post in site.posts %}
      <tr>
        <th><a href="{{ post.url }}">{{ post.title | escape }}</a></th>
        <td>{% if page.website and page.website != '' %}<a href="{{ post.website }}">{{ post.website }}</a>{% endif %}</td>
        <td>{% if page.established_date and page.established_date != '' %}{{ post.established_date | date: "%Y/%m" }}{% endif %}</td>
        <td>{{ post.status | default: 'Active' }}</td>
        <td>{% if page.last_update and page.last_update != '' %}{{ post.last_update | date: "%Y/%m" }}{% endif %}</td>
        <td>{{ post.categories | default: 'Virtual' }}</td>
      </tr>
    {% else %}
      <tr><td colspan=6>No LUGS</td></tr>
    {% endfor %}
    </tbody>
  </table>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
